@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
body {
    height: 100vh;
    display: flex;
    background: #407040;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}

.container .skill-box {
    width: 100%;
    margin: 25px 0 ;
}

.skill-box .title {
   display: block;
   font-size: 16px;
   font-weight: 600;
   color: rgb(91, 84, 84); 
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
    background: rgba(6, 6, 6, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    background: #4070f4;
    animation: proges 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.css {
    width: 70%;
}
.skill-per.js {
    width: 50%;
}
.skill-per.react {
    width: 30%;
}

@keyframes proges {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.skill-bar .tooltip {
    position: absolute;
    right: -15px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    bottom: -2px;
    background: #4070f4;
    transform: translateX(-50%)  rotate(45deg);
    z-index: -1;
}